{% load static %}
<html>

<head>
	<title>{% block title%}Home{% endblock title%}</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/fancySelect.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="screen">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">
	<!--== Google Fonts ==-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<nav style="height: 10%;">
	<div>
		<ul>
			<li><h4><a href="{% url 'MytemplateView' %}">Home</a></h4></li>
		</ul>
	</div>
</nav><br><br>

<body class="main-body">
	<!-- <h1>Site Content</h1> -->
	{% block body %}{% endblock body %}
</body>

</html>